.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register h1 {
    margin-top: 10px;
    color: #330000;
}

.register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.register form input {
    width: 500px;
    outline: none;
    border: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px
}

.register form .line {
    height: 2px;
    width: 500px;
    background-color: #330000;
}

.register .btn {
    background-color: #330000;
    color: aliceblue;
    margin-bottom: 10px;
}

.register a {
    font-weight: 500;
    color: #330000;
    text-decoration: none;
}

@media (max-width: 688px) {
    .register form input {
        width: 300px;
    }

    .register form .line {
        width: 300px;
    }
}