.manage-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* border: 1px solid #330000; */
    box-shadow: 0 5px 35px rgb(0 0 0 / 30%);
}

h1,
h4,
h6 {
    color: #330000;
}

.manage-item button,
.hero-btn {
    outline: none;
    border: none;

}

.manage-item button:hover {
    letter-spacing: 0;
}

@media (max-width: 688px) {
    .manage-item {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .item-description h4 {
        font-size: 15px;
    }

    .item-description h6 {
        font-size: 12px;
    }

    .manage-item .hero-btn {
        font-size: 12px;
    }
}