.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 688px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .about-info p {
        font-size: 12px;
        font-weight: 500;
    }

    .about img {
        width: 300px;
    }
}